<form accept-charset="UTF-8" action="/register" method="post">

    <div class="form-group">
        First name:
        <input name="firstName" required="required">
    </div>
    <div class="form-group">
        Last name:
        <input name="lastName" required="required">
    </div>
    <div class="form-group">
        <label for="user_email">Gender</label>
        <select name="gender">
            <option name="MALE" value="MALE">MALE</option>
            <option name="FEMALE" value="FEMALE">FEMALE</option>
            <option name="OTHER" value="OTHER">OTHER</option>
        </select>
    </div>
    <div class="form-group">
        <label for="user_email">Email</label>
        <input name="email" required="required">
    </div>
    <div class="form-group">
        <label for="user_password">Password</label>
        <input name="password" required="required" type="password">
    </div>
    <!--div class="form-group">
        <label for="user_email">Birthday</label>
        <input type="date" name="birthday" required="required">
    </div-->
    <div class="form-group">
        <label for="user_email">City</label>
        <input name="city" required="required">
    </div>
    <div class="form-group">
        <label for="user_email">state</label>
        <input name="state" required="required">
    </div>
    <div class="form-group">
        <label for="user_email">country</label>
        <input name="country" required="required">
    </div>
    <div class="form-group action">
        <input type="submit" value="Register">
    </div>

</form>